body{
  height: 2000px;
  font-family: 'PT Sans', sans-serif; 
  font-size: 12px;
  
}

.pages{
  top: 200px;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.page{  
  height: 746px;  
  min-width: 455px;  
  width: 100%; 
  position: absolute;
  border : 2px solid #000;
}

.page-top{ 
  background-color: #ebebeb;
  z-index: 6;

}
.page-middle{
  background-color: #cccccc;
  z-index: 4;
  top: 20px;
  left: 20px;
}
.page-bottom{
  background-color: #acacac;
  z-index: 2;
  top: 40px;
  left: 40px;
}
.content-page-top{
  margin: 30px;
  line-height: 1.2;
}

.bookmark{  
  border: 2px solid #000;
  border-radius: 0 10px 10px 0;
  position: absolute;
  left: 94.5%;
  top: 39px;

}

.bookmark-orange{  
  height: 31px;
  width: 107px;
  background-color: #f78e55;

}


.bookmark-green{  
  height: 33px;
  width: 75px;
  background-color: #38b741;
}

.bookmark-ltblue{  
  height: 37px;
  width: 43px;
  background-color: #00adee;
}

.img-first{
  float: left;
  padding: 0 20px 10px 0;
}

.img-second{
  margin-top: 5px;
  float: right;
  height: 140px;
}

/* "Start" Block of pictures with jokes */
.jokes{
  height: 195px;
  margin-bottom: 27px;
}
.img-joke-one{
  float: left;
  margin: 3px 0 14px 0;
}
.img-joke-two{
  float: right;
  margin: 2px 0 15px 0;
}
.img-joke-three{
  float: left;
}
.img-joke-four{
  float: right;
}
/* "End" Block of pictures with jokes */

.social-hub{
  height: 69px; 
  width: 100%;
  max-width: 86px;
  position: fixed;
  right: 0;
  bottom: 20px;
  background-color: #f9ae5e;
  z-index: 10;
  border: 1px solid #000;  
  text-align: center;
}

.facebook,
.twitter,
.instagram{
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-top: 8px;

}

.social-hub p{
  margin: 5px 0 0 5px;
  font-size: 16px;
  font-weight: bolder;
}

h2{
  font-weight: 500;
  font-size: 24px;
}

h3{
  margin-top: 20px;
  font-weight: 100;
  font-size: 18px;
}

footer{
  font-size: 9px;
  text-align: center;
}

p:first-of-type{
      margin-bottom: 0;
}

p:nth-of-type(2){  
      margin-top: 0;
}

.clearfix:after{
  display: block;
  clear: both;
  content: "";
}